.nevimage{
  max-width: 25px;
  height: auto;
  transform: scale(3);
  margin-left: 40px;
}
.navbar {
  background-color: #333;
  color: white;
  padding: 10px 20px;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-logo {
  font-size: 1.5em;
  font-weight: bold;
  text-decoration: none;
  color: white;
}

.navbar-links {
  list-style-type: none;
  display: flex;
  gap: 15px; /* Add this line */
}

.navbar-link {
  text-decoration: none;
  color: white;
  padding: 5px 10px;
  border-radius: 4px;
}

.navbar-link:hover {
  background-color: #555;
}

.logout-button button {
  background-color: red;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: auto;
}

.logout-button button:hover {
  background-color: darkred;
  margin-left: auto;
}
