 .services-container {
    padding: 20px;
  }
  
  .services-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 30px;
  }
  
  .service-item {
    border: 1px solid #ccc;
    padding: 50px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
  }
  
  .service-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  }
  
  .service-image {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
    border-radius: 8px;
  }
  
  .service-title {
    font-size: 20px;
    margin-bottom: 8px;
  }
  
  .view-button {
    display: block;
    text-align: center;
    /* padding: 10px 16px; */
    font-size: 16px;
    color: black;
    text-decoration: none;
    border-radius: 8px;
    background-color: #0056b3;
    transition: background-color 0.3s ease;
  }
  
  .view-button:hover { 
    background-color: #003d80;
  }
  